<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="KRWcfLib.UserSvc.UserService">
      <!--<service name="KRWcfLib.UserSvc.UserService">-->
        <!--baseAddress 和endpoint 中的address是一个主路径，一个分路径的关系-->
        <endpoint address="UserService"
               binding="netTcpBinding"
               bindingConfiguration=""
               contract="KRWcfLib.UserSvc.IUserService"/>
        <!--<endpoint address=""
                  binding="wsDualHttpBinding"
                  bindingConfiguration=""
                  contract="KRWcfLib.UserSvc.IUserService"/>-->
        <!--<endpoint address=""
                 binding="wsHttpBinding"
                 bindingConfiguration="wsHttpBindingConfiguration"
                 contract="KRWcfLib.UserSvc.IUserService"/>-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7891/"/>
          </baseAddresses>
        </host>
      </service>
      
      <service name="KRWcfLib.EventSvc.EventService">
        <!--baseAddress 和endpoint 中的address是一个主路径，一个分路径的关系-->
        <endpoint address="EventService"
               binding="netTcpBinding"
               bindingConfiguration=""
               contract="KRWcfLib.EventSvc.IEventService"/>
        <!--<endpoint address=""
                  binding="wsDualHttpBinding"
                  bindingConfiguration=""
                  contract="KRWcfLib.UserSvc.IUserService"/>
        <endpoint address=""
                 binding="wsHttpBinding"
                 bindingConfiguration="wsHttpBindingConfiguration"
                 contract="KRWcfLib.UserSvc.IUserService"/>-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7892/"/>
          </baseAddresses>
        </host>
      </service>
      
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfiguration">
          <security mode ="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <!--<behaviors >
      <serviceBehaviors >
        <behavior name="WcfChat.ChatService">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->

  </system.serviceModel>
</configuration>